{% extends 'base.html.twig' %}

{% block title %}Tweet index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap">
        <h1>Tweets</h1>
        <div>
            <img src="{{ asset('sfliveparis_2023.png') }}" alt="SF Live Paris 2023" style="max-width: 15rem;">
        </div>
    </div>
    <div data-controller="filters">
        {{ form_start(form, {'attr': {
            'data-filters-target': 'form',
            'data-action': 'filters#submit',
            'data-turbo-frame': 'tweets'
        }}) }}
        {{ form_widget(form.search, {'attr': {
            'data-controller': 'debounce',
            'data-action': 'input->debounce#submit'
        }}) }}
        {{ form_end(form) }}
        <turbo-frame id="tweets">
            <div data-filters-target="content">
                {% for tweet in tweets %}
                    <turbo-frame id="tweet_{{ tweet.id }}" class="border rounded mb-3 d-block">
                        <div class="d-flex flex-md-nowrap flex-wrap">
                            <div class="p-3">{{ tweet.id }}</div>
                            <div class="p-3"
                                 data-controller="highlight"
                                 data-highlight-search-value="{{ form.search.vars.value }}">
                                {{ tweet.content }}
                            </div>
                            <div class="p-3 text-nowrap">
                                <em>{{ tweet.author }}</em>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap gap-3 p-3">
                            <div>{{ tweet.createdAt ? tweet.createdAt|date('D, d M Y H:i:s') : '' }}</div>
                            <a href="{{ path('app_tweet_edit', {'id': tweet.id}) }}">edit</a>
                            <a href="{{ path('app_tweet_modaledit', {'id': tweet.id}) }}" data-turbo-frame="modal">modal
                                edit</a>
                        </div>
                        <details class="m-3">
                            <summary>see stats</summary>
                            <div>
                                <turbo-frame id="tweet_stats_{{ tweet.id }}"
                                             src="{{ path('app_tweet_stats', {'id': tweet.id}) }}"
                                             loading="lazy">
                                    <div class="d-flex align-items-center gap-3 ">
                                        <span>Loading...</span>
                                        <span class="spinner"></span>
                                    </div>
                                </turbo-frame>
                            </div>
                        </details>
                    </turbo-frame>
                {% else %}
                    <div class="notice">
                        no records found
                    </div>
                {% endfor %}
            </div>
        </turbo-frame>
    </div>


    <div class="d-flex gap-3">
        <a href="{{ path('app_tweet_new') }}">Create new</a>
        <a href="{{ path('app_fixtures') }}">Reload fixtures</a>
    </div>
{% endblock %}
