{% extends 'base.html.twig' %}

{% block title %}Tweet index{% endblock %}

{% block body %}
    <h1>Tweet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>Author</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tweet in tweets %}
            <tr>
                <td>{{ tweet.id }}</td>
                <td>{{ tweet.content }}</td>
                <td>{{ tweet.createdAt ? tweet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tweet.author }}</td>
                <td>
                    <a href="{{ path('app_tweet_show', {'id': tweet.id}) }}">show</a>
                    <a href="{{ path('app_tweet_edit', {'id': tweet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tweet_new') }}">Create new</a>
{% endblock %}
