{% extends 'base.html.twig' %}

{% block title %}Tweet{% endblock %}

{% block body %}
    <h1>Tweet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tweet.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ tweet.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ tweet.createdAt ? tweet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ tweet.author }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tweet_index') }}">back to list</a>

    <a href="{{ path('app_tweet_edit', {'id': tweet.id}) }}">edit</a>

    {{ include('tweet/_delete_form.html.twig') }}
{% endblock %}
